
        .image-gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-auto-rows: 300px;
            gap: 10px;
            margin-bottom: 20px;
        }

        .gallery-item {
            width: 100%;
            height: 100%;
        }

        .gallery-image1 {
            width: 60%;
            height: 75%;
            object-fit: cover; /* Optional, to cover the space without stretching images */
            transform: scale(1.5);
            margin-left: 525.5%;
            margin-top: 50%;
        }

        .gallery-image2 {
            width: 60%;
            height: 70%;
            object-fit: cover; /* Optional, to cover the space without stretching images */
            transform: scale(0.6);
            margin-left: 120.5%;
            margin-top: -5%;
        }

        .gallery-image3 {
            width: 60%;
            height: 70%;
            object-fit: cover; /* Optional, to cover the space without stretching images */
            transform: scale(0.6);
            margin-left: 60%;
            margin-top: 5%;
        }

        .gallery-image4 {
            width: 65%;
            height: 65%;
            object-fit: cover; /* Optional, to cover the space without stretching images */
            transform: scale(0.6);
            margin-left: 95.5%;
            margin-top: 126%;
        }

        .gallery-image5 {
            width: 65%;
            height: 65%;
            object-fit: cover; /* Optional, to cover the space without stretching images */
            transform: scale(0.6);
            margin-left: 37.8%;
            margin-top: 126%;
        }

        .gallery-image6 {
            width: 75%;
            height: 90%;
            object-fit: cover; /* Optional, to cover the space without stretching images */
            transform: scale(1.1);
            margin-left: -49%;
            margin-top: 243%;
        }

        .gallery-image7 {
            width: 80%;
            height: 90%;
            object-fit: cover; /* Optional, to cover the space without stretching images */
            transform: scale(0.65);
            margin-left: -495%;
            margin-top: 70%;
        }

        .gallery-image8 {
            width: 95%;
            height: 95%;
            object-fit: cover; /* Optional, to cover the space without stretching images */
            transform: scale(0.65);
            margin-left: -542%;
            margin-top: 200%;
        }

        .navbar-brand {
            font-family: 'Pacifico', cursive; /* Handwriting font */
            font-size: 60px; /* Adjust the size as needed */
            margin-right: 0; /* Reduce or remove the right margin */
            padding-right: 0; /* Reduce or remove the right padding */
        }

        .container {
        max-width: 90%; /* Increase the max-width as per your requirement */
        margin: 30px auto; /* Adjust top & bottom margin. Auto keeps it centered */
        }

        .navbar-nav .nav-link {
        font-size: 1.5em; /* Increase the font size */
        font-family: 'Kaushan Script', cursive; /* Change the font family */
        }

        .navbar-nav .nav-item {
        margin-right: 15px; /* Increase the right margin of each nav item */
        }

        .navbar-nav .nav-link {
            padding: 0 10px; /* Increase the padding on both sides of each nav link */
        }

        